@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Pacifico|Roboto|Rowdies|Sora|Indie+Flower');

/* Variables */
:root {
    --rosa: #de623a;
    --gris: #e9e9e9;
    --negro: #494949;
    --celeste: #1a95d5;
    --oro: #e1be64;
    --oro-dark: #dbb34f;
    --green: #399;
}


/* Estilos del footer */
.footer { 
    bottom: 0;
    width: 100%;
    color: white;
    background: #232323;
}

.footer .body {
    background: #232323;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.footer .body .logo,
.footer .body .extra_info,
.footer .body .about {
    width: 30%;
    min-width: 290px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.footer .body .logo_n {
    font-size: 1.8em;
    font-family: 'Pacifico', cursive;
    color: white;
    font-weight: 100;
    position: relative;
    text-align: center;
}

.footer .body .extra_info .each {
    width: 100%;
    display: block;
    margin: 10px 0;
}

.footer .body .extra_info .each .icon {
    width: 100%;
    min-width: 290px;
    text-align: center;
}

.footer .body .extra_info .each div {
    width: 100%;
    min-width: 290px;
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
}

.footer .body .extra_info .each .important {
    font-weight: bold;
}

.footer .body .extra_info .each .resalte {
    font-weight: bold;
    color: var(--oro);
}

.footer .body .about {
    text-align: center;
}

.footer .body .about .title {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer .body .about .redes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer .body .about .redes .icon {
    font-size: 25px;
    width: 35px;
    height: 35px;
    background: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;    
    color: white;
}

.footer .info {
    background: #181818;
    text-align: center;
    padding: 10px 30px;
}